body {
    background-color: #eee;
}


#modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(50,50,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

#modal-contents {
    padding: 2em;
    background-color: rgb(255,0,0);
}