* { 
    -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


body, html {
    height: 100%;
    background-color: transparent;
}
/* Modal styling for rating form */
#modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

#modal-contents {
    padding: 2em;
    background-color: rgba(170,20,0, 1)
}

.navbar-default {
  background-color:gray;
  background-image: none;
  background-repeat: no-repeat;
  opacity: 0.9;
 }

.navbar-nav {
  display: inline-block;
  padding-left:20px;
  padding-right:10px;
}

.navbar-nav>li {
   display: inline-block;
   margin-left:8px;
   margin-right:25px;
}

.link {
    color: white;
}

/*-------------------------SEARCH PAGE ("/") STYLING------------------------- */
.search-page {
  /* The background image used search-page  */
  background-image: url("/static/images/search_page.jpg");

  /* Control the height of the image */
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Add styles to the search form container */
.container {
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 10em;
  min-width: %;
  padding: 5%;
  background-color: transparent;
  bottom: 30%;

}

.input {
  background-color: white;
  background-image: url('/static/images/search_icon.png');
  background-position: 5px 5px; 
  background-repeat: no-repeat;
  padding-left: 3%;
  width: 25em;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}
/* Set a style for the submit button */
.btn {
  background-color: gray;
  color: white;
  padding: .70%;
  border: none;
  cursor: pointer;
  width: 8%;
  opacity: 0.7;
}

.btn:hover {
  opacity: 0.9;
}

.job .location {
    width: 100%;
}

/*-------------------------LOGIN PAGE ("/login") STYLING------------------------- */

.login-form-title {
    display: relative;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
}

.login-page {
  /* The background image used search-page  */
  background-image: url("/static/images/login_page.jpg");

  /* Control the height of the image */
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

}

/* Add styles to the search form container */
.login-form {
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 10em;
  min-width: 40%;
  padding: 5%;
  background-color: #FF5A5F;
}

.login-text-email .login-text-password {
  background-color: white;
  background-image: url('/static/images/search_icon.png');
  background-position: 50% 50%; 
  background-repeat: no-repeat;
  padding-left: 2%;
  min-width: 70%;
  padding-top: 0.65%;
  padding-bottom: 0.65%;
}
/* Set a style for the submit button */
.login-btn {
  background-color: gray;
  color: white;
  padding: 5px;
  border: none;
  cursor: pointer;
  width: 30%;
  opacity: 0.9;
}

.login-btn:hover {
  opacity: 1;
}


/*-------------------------WELCOME PAGE ("/welcome") STYLING------------------------- */



img {
  display: block;
  max-width: 100%;
}
.welcome-page {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register { 
    padding: 5%;
    text-align: center;
    display: block;
    position: absolute;
    width: 35%;
    height: auto;
    background-color: black;
    opacity: .5;
}

/*-------------------------USER PROFILE ("/user_profile") STYLING------------------------- */

.user-info-box {
  display: flex;
  justify-content: center;
  text-align: center;
  border: double;
  width:40%;
  margin-left: 30%;
  padding-top: 30px;

}


/*------------------------- Job listings ("/saved,/job_listing,/recommended_events") STYLING------------------------- */

.listings {
  margin-left: 15px; 
  margin-right: 40px;
}


