<!doctype html>
<html>
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/style_sheet.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
  
  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/static/images/search_icon"></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          
          <li><a href="#"><span class="sign_in"></span> Sign In</a></li>
          <li><a href="#"><span class="log_in"></span> Logout</a></li>

        </ul>
      </div>
  </nav>

  <!--   {% if session %}   
      
      <div class="header" id="myHeader">
        <a href="/logout"><button>Log Out</button></a>
        <a href="/user_profile"><button>Profile</button></a>
        <a href="/"><button>Search for a Job</button></a>
      </div>
      
    {% else %}
      <div class="header" id="myHeader">
        <a href="/login"><button>Sign In</button></a>
      </div>
    {% endif %} -->

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <class=flashes>
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      {% endif %}
    {% endwith %}

  

</head>

<body>

  <div id="modal" style="display: none;">      <!--takes over entire page = container -->
    <div id="modal-contents">               <!--  shows the form within the container   -->
    </div>
  </div>


  {% block content %} Put Content HERE! {% endblock %}
  
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>