<!doctype html>
<html>
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/style_sheet.css">

</head>
<body>
  
 <nav class="navbar sticky-top navbar-expand navbar-light bg-light">
  <a class="logo" href="/welcome" style="color: black; font-size: 1.5em;">Job Search Engine</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> 
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="flash message" style="padding-left: 20px;">
      {% with messages = get_flashed_messages() %}    
          {% if messages %} 
              <class=flashes>    
            {% for message in messages %}     
                  {{ message }}      
            {% endfor %}          
          {% endif %}       
      {% endwith %}
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto navbar" >
      <li class="nav-item active">
        <a class="nav-link" href="/">Search<span class="sr-only"></span></a>
      </li>
      {% if session %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">For you 
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/user_profile">Profile</a>
          <a class="dropdown-item" href="/show-saved">Saved Jobs</a>
          <a class="dropdown-item" href="/user-events">Recommended Events</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </li>
      {% else %}
        <li class="nav-item active">
          <a class="nav-link" href="/login">Sign In<span class="sr-only"></span></a></li>
        <li class="nav-item active">
          <a class="nav-link" href="/welcome">Sign Up<span class="sr-only"></span></a></li>
      {% endif %}

    </ul>
    
  </div>
</nav>


  {% block content %} Put Content HERE! {% endblock %}
  
 
</body>
</html>

