{% extends 'base.html' %}

{% block title %}Company Profile{% endblock %}

{% block content %}

<br>
<br>

<div class="company-heading">
  <h2> {{job.company}} </h2>
  <br>
  <div class="company-average">          
  <span id='company_avg_rating'></span> 
    <a href="/company_avg?job_id={{job.job_id}}" method='GET' id="company-avg-button" ><button>Get Company Average</button></a>
   
        <script type="text/javascript">
              
              document.getElementById('company-avg-button').onclick = function(evt) {
      
                  evt.preventDefault();

                  function getCompanyAvg(response) {
                      $('#company_avg_rating').html(response);
                  }

                  $.get('/company_avg?job_id={{job.job_id}}', getCompanyAvg);
              }

        </script>
  </div>
  <br>
  <br>
    <div style=" border-bottom: 1px solid #aaa;"></div>
</div>
<br>
<br>
<div class="">    
  <canvas id="barChart"></canvas>
  <div id="legend2"></div>
    
  <script>

        const optionsBar = {

              title:{
                display: true,
                text: "Visualizing Company Inclusivity Efforts",
                fontSize: 25,
                padding: 20,

              },
              tooltips: {
                enabled:true,
                mode: 'nearest',
                intersect: true,
                xPadding:20,
                yPadding:20,
                position: 'average',
                callbacks: {
                  
                  }
                },
              legend: {
                display: false
              },
              layout: {
                    padding: {
                        left: 70,
                        right: 70,
                        top: 50,
                        bottom: 50
                    }
                },
              scales: {
                xAxes: [{
                  barPercentage: 1,
                  barThickness: 50,
                  minBarLength: 2,
                  gridLines: {
                      offsetGridLines: true
                      }
                  }]
                },
        };


        // Make Bar Chart of ratings that users gave for a cetain company
        let myChart = $("#barChart").get(0).getContext("2d");

        $.get("/company_ratings.json?job_id={{ job.job_id }}", function (data) {
          let companyBarChart = new Chart(myChart, {
                                                  type: 'bar',
                                                  data: data,
                                                  options: optionsBar
                                                });
          $('#legend2').html(companyBarChart);
        });

    </script>
</div>

{% endblock %}





