{% extends 'base.html' %}

{% block title %}Job Profile{% endblock %}

{% block content %}

<br>
<br>

<div class="top-half">
    <div style="margin-right:10px; margin-left: 10px;">
        <img src="{{job['logo']}}" style="max-width:170px;max-height: auto;float: right; margin: 3px; padding: 3px;">
            
        <div class="job-intro">
                <h2>{{ job['title'] }}</h2>
                <h5>{{ job['company'] }} || <p style="display: inline-block;">{{ job['location']}}</p></h5> 
                <p style="color: gray;"> Posted {{ num_days }} days ago</p>
                <div class="bottom-half" style="text-align: left;"><div>
                    <b>Average Rating for this Job: </b><span id='avg_rating'></span>
                    <a href="/average?job_id={{job.job_id}}" method='GET' id="average-button">
                        <button>Get Average Rating</button></a>
                        <br>
                        <script type="text/javascript">
                            
                            document.getElementById('average-button').onclick = function(evt) {
                    
                                evt.preventDefault();

                                function getAvg(response) {
                                    $('#avg_rating').html(response);
                                }

                                $.get('/average?job_id={{job.job_id}}', getAvg);
                            }       
                        </script>
                </div>
                {% if session %}
                    <br>
                    <b>Have you applied to this job before?</b>   
                    <a href="/rating?job_id={{job.job_id}}" method='GET' id="rate-this-job-button"><button> Rate this Job </button></a>
                    <span id="space"></span>
                    <div id="modal" style="display: none; opacity: 1;">  
                        <div id="modal-contents">    
                        </div>
                    </div>

                        <script type="text/javascript">

                            document.getElementById('rate-this-job-button').onclick= function(evt) {
                                evt.preventDefault();
                                function showForm(response) {
                                    $('#modal-contents').html(response);
                                    $('#modal').show();
                                }   

                                $.get("/rating?job_id={{job.job_id}}", showForm);
                            }
                                
                        </script>
                {% else %}
                {% endif %}
                </div>
                <div>
                    {% if session %}
                    <a href="/moreCompanyInfo?job_id={{job.job_id}}" method='GET' id="more-company-info-button" style="float: right;"><button>About this Company</button></a>
                    <a href="/saved?job_id={{job.job_id}}" method='POST' id="save-button" style=" padding-right: 10px; float: right;"><button>SAVE</button></a>
                    
                    {% else %}
                    <br>
                    <a href="/moreCompanyInfo?job_id={{job.job_id}}" method='GET' id="more-company-info-button" style="float: left;"><button>About this Company</button></a>
                    {% endif %}

                </div>
                <br><br>
                <div style=" border-bottom: 1px solid #aaa;"></div>
        
        <br>

    </div>

            <div>
                <br>
                <p><b>Type:</b> {{ job_type }}</p>
                <p> {{ description|safe }}</p>
                <p> <b>How to Apply:</b> {{ how_to_apply|safe }}</p>
                <p> <b>Company URL:</b> {{ company_url }}</p>
                <br>
            </div>
            <br>
            
    </div>
</div>


{% endblock %}


