{% extends 'base.html' %}

{% block title %}Job Profile{% endblock %}
{% block content %}


    <div>
        <h1>{{ job['company'] }}</h1>
            <h2>Job Title: {{ job['title'] }}</h2>
            <p> Location: {{ job['location']}}</p>
            <p> {{ job['released_at'] }} (days ago)</p>
            <p> Type: {{ job_type }}</p>

            <p> {{ description|safe }}</p>

            <p> How to Apply : {{ how_to_apply|safe }}</p>
            <p> Company URL: {{ company_url }}</p>
    </div>
            <!-- call API again to extract other info -->


    <br><br><br>

    <!-- Display the average rating for the company and job listing here -->

    <div>
        <h1>RATING</h1>
        <!-- <h4> Company Rating: </h4>
        <p name= "company_avg"></p> 
        <br> -->
        
        <b>Average Rating for this Job:    </b><span id='avg_rating'></span>

        <a href="/average?job_id={{job.job_id}}" method='GET' id="average-button"><button>Get Average Rating</button></a>

        <script type="text/javascript">
            
            document.getElementById('average-button').onclick = function(evt) {
    
                evt.preventDefault();

                function getAvg(response) {
                    $('#avg_rating').html(response);
                }

                $.get('/average?job_id={{job.job_id}}', getAvg);
            }
            
        </script>


    </div>

    <div>
        <b>Have you applied to this job before?</b>   
        <a href="/rating?job_id={{job.job_id}}" method='GET'><button> Rate this Job </button></a>

    </div>

    


{% endblock %}


