
{% extends 'base.html' %}
{% block title %}Job Listings{% endblock %}
{% block content %}
 
        <br>
        <h2 style="text-align: center; font-size: 3em;"> Available Jobs </h2>
        <br>
        <br>

<div class="listings">

    {% for job in jobs %}
        
        <h3>Job Title: {{ job['title'] }}</h3>
        <p style="font-size:1.7em;">{{ job['company'] }} </hp>
        
        <p style="color: gray;"> {{ job['location'] }}</p>
        <p> ({{ (current_date - job.released_at).days }} days ago) </p>
        <a href="/job_profile?job_id={{job.job_id}}" style="align-content: right;"><button>View Job</button></a>
        <br>
        <br>
        <div style=" border-bottom: 1px solid #aaa ; "></div>
        <br>
        <br>

    {% endfor %}

</div>

{% endblock %}


