{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}


<div class="login-page">
    <img src="/static/images/login-background.jpg">
    <div class="layer"></div>
    <div class="login-form">
        <form action="/login" method="POST">
            <h3 class="login-form-title">Login</h3>
            <br>
            <input type="text" name="email" placeholder="Enter Email" class="login-text-email">
            <br>
            <br>
            <input type="text" name="password" placeholder="Password" class="login-text-password">
            <br>
            <br>
            <button type="submit" class="login-btn">Login</button>   
        </form>
    </div>
</div>

  

{% endblock %}