{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}

<h2>Let's get started:</h1>

<div>
    <form action="/register" method="POST">

        First Name: <input type="text" name="fname" required><br>
        Last Name: <input type="text" name="lname" required><br>
        Email/Username: <input type="text" name="email" required><br>
        Password: <input type="text" name="password" required><br>

        <br>
        <br>

        <input type="submit">

    </form>

</div>

{% endblock %}






