<!DOCTYPE html>
<html>
<head>
    <title>Registration Form</title>
</head>
<body>

    <h2>Let's get started</h1><br>

    <div>
        <form action="/register" method="POST" style="text-align: left;">

            First Name: <input type="text" name="fname" required><br><br>
            Last Name: <input type="text" name="lname" required><br><br>
            Email: <input type="text" name="email" required><br><br>
            Password: <input type="text" name="password" required><br>

            <br>
            <br>
            <div style="text-align: center;">
                <input type="submit" style="">
            </div>

        </form>

    </div>

</body>
</html>









