{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}



{% block content %}

<div>
    <h1>{{user.fname}} {{user.lname}}</h1>
    <h3> {{ user.email }}</h3>
</div>


<div>
  <h3>Saved Jobs</h3>
  <a href="/show-saved" method="GET" id="show-saved-button"><button>Show my saved jobs</button></a>


</div>




<div class="melon-chart">
    <canvas id="lineChart"></canvas>
    <div id="legend" class="chart-legend"></div>
</div>

<script>

// function printObject(object, current_output) {
//   for (var child in object) {
//     if (child instanceof Object) {
//       return current_output + printObject(child);
//     } else {
//       return current_output + " " + child;
//     }
//   }
// };


const options = {

      title:{
        display: true,
        text: 'Job Search Progress',
        fontSize: 25,
        padding: 20,

      },
      tooltips: {
        enabled:true,
        mode: 'nearest',
        intersect: true,
        xPadding:20,
        yPadding:20,
        position: 'average',
        callbacks: {
            title: function(tooltipItem, data) {
                  let labelTitle = data["data_points"][tooltipItem[0]['index']]["title"];
                  
                  //let labelTitle = tooltipItem[0]['index'] == null ? "NULL " : tooltipItem[0]['index'];
                  return labelTitle;
            },
            label: function(tooltipItem, data) {
                  let labelCompany = data["data_points"][tooltipItem['index']]["company"];

                  return labelCompany;
                },
            afterLabel: function(tooltipItem, data) {
                  let labelLocation = data["data_points"][tooltipItem['index']]["location"];

                  return labelLocation;
            }
          }
        },
      legend: {
        display: false
      },
      layout: {
            padding: {
                left: 70,
                right: 70,
                top: 50,
                bottom: 50
            }
        }
};


    // Make Donut Chart of percent of different types of Melons
    let myChart = $("#lineChart").get(0).getContext("2d");

    $.get("/user-ratings.json", function (data) {
      let userLineChart = new Chart(myChart, {
                                              type: 'line',
                                              data: data,
                                              options: options
                                            });
      $('#legend').html(userLineChart);
    });

</script>








{% endblock %}





