{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}

{% block content %}


<br><br>
<div class="user-info-box">
  <div>
      <h1 style="">{{user.fname}} {{user.lname}}</h1>
      <p> {{ user.email }}</p>
  </div>
  <br>
</div>
<br>
<br>

<div class="user-progress-chart">
    <canvas id="lineChart"></canvas>
    <div id="legend1" class="chart-legend"></div>
</div>

<script>

const optionsLine = {

      title:{
        display: true,
        text: 'Job Search Progress',
        fontSize: 25,
        padding: 20,

      },
      tooltips: {
        enabled:true,
        mode: 'nearest',
        intersect: true,
        xPadding:20,
        yPadding:20,
        position: 'average',
        callbacks: {
            title: function(tooltipItem, data) {
                  let labelTitle = data["data_points"][tooltipItem[0]['index']]["title"];
                  
                  return labelTitle;
                },
            label: function(tooltipItem, data) {
                  let labelCompany = data["data_points"][tooltipItem['index']]["company"];

                  return labelCompany;
                },
            afterLabel: function(tooltipItem, data) {
                  let labelLocation = data["data_points"][tooltipItem['index']]["location"];

                  return labelLocation;
                }
              }
            },
        legend: {
            display: false
            },
            layout: {
                padding: {
                    left: 70,
                    right: 70,
                    top: 50,
                    bottom: 50
                  }
            },
        scales: {
            yAxes: [{
                ticks: {
                    // Display the 
                    callback: function(value, index, values) {
                        
                        if (value == 0) {
                          tick_label = "Applied to this Job"
                        }
                        else if (value == 1){
                          tick_label = "Recruiter responded"
                        }
                        else if (value == 2){
                          tick_label = "Phone Screen Interview"
                        }
                        else if (value == 3){
                          tick_label = "Onsite Interview"
                        }
                        else if (value == 4){
                          tick_label = "Received Job Offer"
                        }
                        else {
                          tick_label = null
                        }
                        return tick_label;
                    }
                  }
              }]
          }
    };

    // Make Donut Chart of percent of different types of Melons
    let myChart = $("#lineChart").get(0).getContext("2d");

    $.get("/user-ratings.json", function (data) {
      let userLineChart = new Chart(myChart, {
                                              type: 'line',
                                              data: data,
                                              options: optionsLine
                                            });
      $('#legend1').html(userLineChart);
    });

</script>

{% endblock %}

<!-- Dat implemented test below to check JS code -->
<!-- function printObject(object, current_output) {
//   for (var child in object) {
//     if (child instanceof Object) {
//       return current_output + printObject(child);
//     } else {
//       return current_output + " " + child;
//     }
//   }
// }; -->


